<div class="headerc" ng-include="'components/header.html'"></div>
<div class="">
  <div class="row">
    <h3 class="title-dash">
    <img src="../image/icon/home.png" alt="" height="100px">
      Dashboard</h3>
  </div>
  <div class="row">
    <div class="col s12 m4 l4">
      <div class="card">
        <a href="#/ejercicios">
          <div class="card-image">
            <img src="../image/icon/ejercicios.png">
            <span class="card-title">Ejercicios</span>
          </div>
        </a>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
    </a>
    <div class="col col s12 m4 l4">
      <div class="card">
        <a href="#/instructor">
          <div class="card-image">
            <img src="../image/icon/Lectura.png">
            <span class="card-title">Instructor</span>
          </div>
        </a>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4 l4">
      <div class="card">
        <a href="#/libros">
          <div class="card-image">
            <img src="../image/icon/libros.png">
            <span class="card-title">Libros</span>
          </div>
        </a>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
  </div>

</div>
