<div class="headerc" ng-include="'components/header.html'"></div>
<div class="">
  <div class="row">
    <h3 class="title-dash">
    <img src="../image/icon/home.png" alt="" height="100px">
      Dashboard</h3>
  </div>
  <div class="row animated bounceInDown">
    <div class="col s12 m4 l4">
      <div class="card">
        <a href="#/ejercicios">
          <div class="card-image">
            <img src="../image/icon/ejercicios.png">
            <span class="card-title">Ejercicios</span>
          </div>
        </a>
        <div class="card-content">
          <p>Aquí encontraras ejercicios de apoyo a tu apendizje.
            Encuentra una gran variedad de ejercicios que te ayudaran a mejor tus habilidades.</p>
        </div>
      </div>
    </div>
    </a>
    <div class="col col s12 m4 l4">
      <div class="card">
        <a href="#/login">
          <div class="card-image">
            <img src="../image/icon/Lectura.png">
            <span class="card-title">Instructor</span>
          </div>
        </a>
        <div class="card-content">
          <p>Sí tu eres un instructor y estas listo para la enseñanza tecnologica aquí encontraras
          material de apoyo para tu enseñanza asi como tips, guias y temarios.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m4 l4">
      <div class="card">
        <a href="#/libros">
          <div class="card-image">
            <img src="../image/icon/libros.png">
            <span class="card-title">Libros</span>
          </div>
        </a>
        <div class="card-content">
          <p>La biblioteca virtual ofrece los materiales de apoyo a tu alcance, en cualquier dispositivo y en cualquier lugar
          la biblioteca estar contigo para tu consulta. </p>
        </div>
      </div>
    </div>
  </div>

</div>
