<div class="headerc" ng-include="'components/header.html'"></div>

<div class="ejercicios">
  <div class="row">
    <h2 class="title-dash">
      <img src="../image/icon/ejer.png" alt="" height="100px">
      Ejercicios
    </h2>
  </div>

  <div class="row">
    <div class="col s12">
      <ul class="tabs yellow darken-4">
        <li class="tab col s3"><a class="active white-text" href="#test1">Escritura</a></li>
        <li class="tab col s3"><a class="white-text"href="#test2">Matematicas</a></li>
        <li class="tab col s3"><a class="white-text"href="#test3">Palabras</a></li>
      </ul>
    </div>

    <div id="test1" class="col s12">
      <h3 class="text-center">Escritura</h3>
      <div class="row">
        <div class="col s12 m4 l2" ng-repeat="ejercicio in ejercicios">
          <a class="modal-trigger" href="{{ejercicio.url}}">
            <div class="card-panel {{ejercicio.color}}  text-center">
              <span class="white-text text-center">{{ejercicio.title}}</span>
            </div>
          </a>
          <div id={{ejercicio.modal}} class="modal">
            <div class="modal-content">
              <h4 class="text-center">{{ejercicio.title}}</h4>
              <p>{{ejercicio.description}}</p>
            </div>
            <div class="modal-footer">
              <a href="#/ejercicios" class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="test2" class="col s12">
      <h3 class="text-center">Matemáticas</h3>
      <div class="row">
        <div class="col s12 m4 l2" ng-repeat="ejercicio in ejercicios">
          <a href="{{ejercicio.url}}">
            <div class="card-panel {{ejercicio.color}}  text-center">
              <span class="white-text text-center">{{ejercicio.title}}</span>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div id="test3" class="col s12">
      <h3 class="text-center">Palabras</h3>
      <div class="row">
        <div class="col s12 m4 l2" ng-repeat="ejercicio in ejercicios">
          <a href="{{ejercicio.url}}">
            <div class="card-panel {{ejercicio.color}}  text-center">
              <span class="white-text text-center">{{ejercicio.title}}</span>
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
