<nav class="navbar-fixed cyan darken-4">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">
        <img src="../favicons/icon.png" alt="logo" height="43px">
        <span class="text-logo">L-E-A</span>
      </a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#/dashboard"><i class="material-icons left">view_headline</i>Home</a></li>
        <li><a href="#/ejercicios"><i class="material-icons left">view_module</i>Ejercicios</a></li>
        <li><a href="#/instructor"><i class="material-icons left">perm_identity</i>Instructor</a></li>
        <li><a href="#libros"><i class="material-icons left">view_week</i>Libros</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#/dashboard" class="text-center"><i class="material-icons">view_headline</i>Home</a></li><br>
        <li><a href="#/ejercicios" class="text-center"><i class="material-icons">view_module</i>Ejercicios</a></li><br>
        <li><a href="#/instructor" class="text-center"><i class="material-icons left">perm_identity</i>Instructor</a></li><br>
        <li><a href="#/libros" class="text-center"><i class="material-icons left">view_week</i>Libros</a></li><br>
        <li><a href="#/aviso" class="text-center"><i class="material-icons left">info_outline</i>Acerca de LEA-APP</a></li><br>
      </ul>
    </div>
  </nav>
<script type="text/javascript" src="../scripts/functionsMaterialize.js"></script>
