<div class="row main-content">
  <div class="caption center-align">
    <img src="../favicons/android-chrome-192x192.png"  class="icon-logo" alt="icon-logo">
    <h2 class="white-text">LEA</h2>
    <h3 class="white-text">Leer Escribir y Aprender </h3>
    <a href="#/dashboard" class="waves-effect waves-light green darken-1 btn-large">Comenzar</a>
  </div>
</div>
<video src="../src/educacion.mp4" autoplay loop muted poster=""></video>

<script src="/scripts/functionsMaterialize.js"></script>
