<!--
<div class="slider fullscreen">
  <ul class="slides">
    <li>
      <img src="image/home01.jpg">
      <div class="caption center-align">
				<img src="../favicons/android-chrome-192x192.png"  class="icon-logo" alt="icon-logo">
				<h2>LEA</h2>
        <h3>Leer Escribir y Aprender </h3>
				<a href="#/dashboard" class="waves-effect waves-light green darken-1 btn-large">Comenzar</a>
      </div>
    </li>
    <li>
      <img src="image/home02.jpg">
      <div class="caption left-align">
        <h3>Nunca es Tarde para aprender</h3>
        <h5 class="light grey-text text-lighten-3">No hay limite para el aprendizaje</h5>
      </div>
    </li>
    <li>
      <img src="image/home03.jpg">
      <div class="caption right-align">
        <h3>Un primer acercamiento a la tecnologia</h3>
        <h5 class="light grey-text text-lighten-3">Porque nunca es bueno tener miedo</h5>
      </div>
    </li>
  </ul>
</div>-->

<div class="row main-content">
  <div class="caption center-align">
    <img src="../favicons/android-chrome-192x192.png"  class="icon-logo" alt="icon-logo">
    <h2 class="white-text">LEA</h2>
    <h3 class="white-text">Leer Escribir y Aprender </h3>
    <a href="#/dashboard" class="waves-effect waves-light green darken-1 btn-large">Comenzar</a>
  </div>
</div>
<video src="../src/educacion.mp4" autoplay loop muted poster=""></video>

<script src="/scripts/functionsMaterialize.js"></script>
