<div class="row login-instructor">
  <div class="container content-mainIns">
    <h4 class="text-center white-text">Inicio de Sesión</h4>

    <form class="form-login white-text" name="form" ng-submit="vm.login()" role="form">
      <div class="row">

        <div class="col s12 m6 l6">
          <img class="animated fadeInDown img-user" src="../image/user/user-geek.png" alt="user" width="300px">
        </div>

        <div class="col s12 m6 l6">
          <div class="row">
            <div class="input-field col s12" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
              <input name="username" id="username" type="text" class="validate" ng-model="vm.username" required>
              <label for="last_name">Last Name</label>
              <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
              <input id="password" name="password" type="password" class="validate" ng-model="vm.password" required>
              <label for="password">Password</label>
              <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
            </div>
          </div>

          <div class="row">
              <div class="col s12">
                <button ng-click="logear()" ng-disabled="form.$invalid || vm.dataLoading" class="waves-effect waves-light btn btn-full green">Login</button>
              </div>
              <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          </div>

        </div>
      </div>

    </form>
  </div>

  <div class="row animated fadeInRightBig">
    <div class="col s2 m2">
      <div class="card-panel white">
        <h5 class="text-center">Nota</h5>
        <span>
          <b>usuario:</b> test <br>
          <b>password:</b> test
        </span>
      </div>
    </div>
  </div>
</div>
