<div class="headerc" ng-include="'components/header.html'"></div>

<div class="row">
  <div class="col s12 l12 m12 ">
    <p class="text-main cyan">División</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <h5 class="text-center">Da click para iniciar tu ejercicio</h5>
    <p class="text-center">
      <a href="" class="waves-effect waves-light btn green">Comenzar</a>
    </p>
  </div>

  <div class="row">
    <p class="texto-lectura">
      <b>Teoria:</b> <br>
      División, del latín divisio, es el accionar y el resultado de dividir
      (apartar, dosificar, distribuir, disgregar). En el ámbito de las matemáticas,
      la división es una operación de la aritmética donde se descompone una cifra.
      La división matemática, por lo tanto, busca el valor denominado cociente,
      que representa la cantidad de veces que aparece un número (llamado dividendo)
      en otro (conocido como divisor), a través de un procedimiento estandarizado,
      el cual puede variar de acuerdo al país, aunque no significativamente.<br><br>
      La división puede resultar exacta (si el resto es cero) o inexacta
      (cuando el resto es diferente a cero). Cuando la división es inexacta,
      quiere decir que el divisor no aparece contenido una cantidad de veces exacta
      en el dividendo, sino que queda un resto.<br><br>
      Por ejemplo: 6 / 2 = 3 (“seis dividido dos es igual a tres”) es una división exacta.
    </p>
  </div>

  <div class="row">
    <p class="text-center"><img src="image/Ejercicios/Matematicas/division.png" alt="Dividir" width="300px"></p>
  </div>
</div>
