<div class="headerc" ng-include="'components/header.html'"></div>

<div class="row">
  <div class="col s12 l12 m12 ">
    <p class="text-main yellow darken-3">Multiplicación</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <h5 class="text-center">Da click para iniciar tu ejercicio</h5>
    <p class="text-center">
      <a href="" class="waves-effect waves-light btn red">Comenzar</a>
    </p>
  </div>

  <div class="row">
    <p class="text-lectura">
      Teoria: <br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. In tempora magni explicabo quasi animi nulla facilis eaque, commodi quas dolorum earum id, ut minus unde aut officiis fugiat eius. Mollitia.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum non, rem eius, et alias eligendi accusantium numquam quam modi quo ratione est itaque quaerat eveniet! Ipsum repellat alias, omnis reprehenderit!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus possimus vel minima praesentium accusantium cum delectus, aut enim dolorum rerum vitae saepe ex eaque maiores tenetur mollitia quos harum consequatur!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa nesciunt beatae fugiat tempora sapiente iure, consequuntur corporis alias, blanditiis sit eveniet iusto fuga. Delectus doloremque, neque assumenda sit nisi dicta.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates ipsa iusto numquam laudantium modi natus amet totam temporibus consectetur, veniam eos dolor! Numquam eum sapiente dolor ipsum tenetur accusantium ducimus.
    </p>
  </div>

  <div class="row">
    <p class="text-center"><img src="image/Ejercicios/Matematicas/multiplicacion.png" alt="multiplicacion" width="300px"></p>
  </div>
</div>
