<div class="headerc" ng-include="'components/header.html'"></div>

<div class="row">
  <div class="col s12 l12 m12 ">
    <p class="text-main yellow darken-3">Multiplicación</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <h5 class="text-center">Da click para iniciar tu ejercicio</h5>
    <p class="text-center">
      <a href="#/multi" class="waves-effect waves-light btn red">Comenzar</a>
    </p>
  </div>

  <div class="row">
    <p class="texto-lectura">
      <b>Teoria:</b> <br>
      Multiplicación es un término con origen en el latín multiplicatio que permite
      nombrar el hecho y las consecuencias de multiplicarse o de multiplicar (incrementar
      el número de cosas que pertenecen a un mismo grupo).<br><br>
      Para la matemática, la multiplicación consiste en una operación de composición
      que requiere sumar reiteradamente un número de acuerdo a la cantidad de veces indicada por otro.
      Los números que intervienen en la multiplicación reciben el nombre de factores, mientras que el resultado
      se denomina producto. El objetivo de la operación, por lo tanto, es hallar el producto de dos factores.<br><br>
      Por ejemplo: 5 x 2 = 10 (“cinco multiplicado por dos es igual a diez”) es la operación que señala que
      hay que sumar 2 veces el número 5 (5 + 5 = 10 es igual a 5 x 2 = 10). La misma lógica se utiliza con
      números más grandes (8 x 5 = 40 es igual a 8 + 8 + 8 + 8 + 8 = 40).
    </p>
  </div>

  <div class="row">
    <p class="text-center"><img src="image/Ejercicios/Matematicas/multiplicacion.png" alt="multiplicacion" width="300px"></p>
  </div>
</div>
