<div class="headerc" ng-include="'components/header.html'"></div>

<div class="row">
  <div class="col s12 l12 m12 ">
    <p class="text-main green darken-2">Restas</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <h5 class="text-center">Da click para iniciar tu ejercicio</h5>
    <p class="text-center">
      <a href="" class="waves-effect waves-light btn amber">Comenzar</a>
    </p>
  </div>

  <div class="row">
    <p class="texto-lectura">
      <b>Teoria:</b> <br>
      La resta, también conocida como sustracción, es una operación que consiste
      en sacar, recortar, empequeñecer, reducir o separar algo de un todo. Restar
      es una de las operaciones esenciales de la matemática y se considera como la
      más simple junto a la suma, que es el proceso inverso.<br><br>
      La resta consiste en el desarrollo de una descomposición: ante una determinada
      cantidad, debemos eliminar una parte para obtener el resultado, que recibe el
      nombre diferencia. <br><br>Por ejemplo: si tengo nueve peras y regalo tres, me quedaré
      con seis peras (9-3=6). En otras palabras, a la cantidad nueve le quito tres y
      la diferencia será seis. El primer número se conoce como minuendo y el segundo,
      como sustraendo; por lo tanto: minuendo – sustraendo = diferencia.
    </p>
  </div>

  <div class="row">
    <p class="text-center"><img src="image/Ejercicios/Matematicas/resta.png" alt="resta" width="300px"></p>
  </div>
</div>
