<div class="slider slider-noticias">
  <ul class="slides">
    <li>
      <a target="_blank" href="http://www.inea.gob.mx/index.php/educacionabc/educadulalfabc.html">
      <img src="../image/banner/alfabetizacion.png">
      </a>
    </li>
    <li>
      <a target="_blank" href="http://www.inea.gob.mx/index.php/alianzas.html">
        <img src="../image/banner/alianzas.png">
      </a>
    </li>
    <li>
      <a target="_blank" href="http://www.inea.gob.mx/index.php/educacionabc/edadultprimsecbc.html">
        <img src="../image/banner/primaria.png">
      </a>
    </li>
    <li>
      <a target="_blank" href="http://www.inea.gob.mx/index.php/educacionabc/edadultprimsecbc.html">
        <img src="../image/banner/secundaria.png">
      </a>
    </li>
  </ul>
</div>

<script charset="utf-8">
  $(document).ready(function(){
    $('.slider').slider({fullWidth: true});
  });
</script>
