<div class="carousel carousel-general carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
    </div>
    <a target="_blank" href="http://www.inea.gob.mx/">
      <div class="carousel-item white-text bac1" href="#one!">
      </div>
    </a>
    <a target="_blank" href="http://www.inea.gob.mx/index.php/cam-nal-alfa-rez-edu.html">
      <div class="carousel-item bac2 white-text" href="#two!">
      </div>
    </a>
  </div>


<script charset="utf-8">
$(document).ready(function(){
    $('.carousel.carousel-slider').carousel({full_width: true});
  });
</script>
