<div class="carousel carousel-general carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white cyan-text darken-text-2">button</a>
    </div>
    <div class="carousel-item cyan darken-1 white-text" href="#one!">
      <h2>First Panel</h2>
      <p class="white-text">Banner INEA Recomendaciones</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2>Second Panel</h2>
      <p class="white-text">Banner INEA Recomendaciones</p>
    </div>
    <div class="carousel-item red white-text" href="#three!">
      <h2>Third Panel</h2>
      <p class="white-text">Banner INEA Recomendaciones/p>
    </div>
    <div class="carousel-item green accent-4 white-text" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">Banner INEA Recomendaciones</p>
    </div>
  </div>


<script charset="utf-8">
$(document).ready(function(){
    $('.carousel.carousel-slider').carousel({full_width: true});
    $('.carousel.carousel-slider').carousel({time_constant:200});
  });
</script>
