<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header active"><i class="material-icons">vpn_key</i>Tip 01</div>
    <div class="collapsible-body"><p class="texto-lectura">Trata de dar ejemplos practicos así sera mejor para ellos entender.</p></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">vpn_key</i>Tip 02</div>
    <div class="collapsible-body"><p class="texto-lectura">Checa el ritmo de las personas recuerda no todos van igual.</p></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">vpn_key</i>Tip 03</div>
    <div class="collapsible-body"><p class="texto-lectura">Trata de empezar la sesión con una sonrisa.</p></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">vpn_key</i>Tip 04</div>
    <div class="collapsible-body"><p class="texto-lectura">Motiva a que pierdan el miedo a la tecnologia.</p></div>
  </li>
</ul>

<script charset="utf-8">
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>
