<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header active"><i class="material-icons">vpn_key</i>Tip 01</div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">vpn_key</i>Tip 02</div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">vpn_key</i>Tip 03</div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">vpn_key</i>Tip 04</div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
</ul>

<script charset="utf-8">
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>
