.indicator
  background-color: #006064 !important
  height: 5px !important

.ejercicios a:hover
  background: #fbc02d
  color: #fff !important


// Page ejercicio1.html
.page-exercies
  overflow-y: hidden
  margin-bottom: inherit

.btn-opcion
  width: 100%

.menu-exercies
  height: 790px

.user-excercies
  display: block
  margin-top: 25px

.content-exercies p , h2
  text-transform: uppercase
.content-exercies .content-main
  width: 90%
  height: 600px
.content-main img
  display: block
  margin: 20px auto

.content-main .input-field
  margin-top: 50px

.content-main .input-field input
  text-align: center
  font-size: 60px
.input-validate
  border-bottom: 1px solid green !important
  box-shadow: 0 1px 0 0 green !important
  color: green !important
.input-Invalidate
  border-bottom: 1px solid red !important
  box-shadow: 0 1px 0 0 red !important
  color: red !important
  
.texto-lectura
  text-align: justify
