.icon-logo {
  z-index: 999999;
  height: 150px !important;
  width: 150px !important;
}
video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}
.main-content {
  margin-top: 100px;
}
.title-dash {
  text-align: center;
  color: #006064;
}
.brand-logo {
  margin: 10px;
}
.text-logo {
  position: relative;
  bottom: 10px;
}
.text-center {
  text-align: center;
}
.indicator {
  background-color: #006064 !important;
  height: 5px !important;
}
.ejercicios a:hover {
  background: #fbc02d;
  color: #fff !important;
}
.page-exercies {
  overflow-y: hidden;
  margin-bottom: inherit;
}
.btn-opcion {
  width: 100%;
}
.menu-exercies {
  height: 790px;
}
.user-excercies {
  display: block;
  margin-top: 25px;
}
.content-exercies p,
h2 {
  text-transform: uppercase;
}
.content-exercies .content-main {
  width: 90%;
  height: 600px;
}
.content-main img {
  display: block;
  margin: 20px auto;
}
.content-main .input-field {
  margin-top: 50px;
}
.content-main .input-field input {
  text-align: center;
  font-size: 60px;
}
.input-validate {
  border-bottom: 1px solid #008000 !important;
  box-shadow: 0 1px 0 0 #008000 !important;
  color: #008000 !important;
}
.input-Invalidate {
  border-bottom: 1px solid #f00 !important;
  box-shadow: 0 1px 0 0 #f00 !important;
  color: #f00 !important;
}
