.login-instructor
  background: url(../image/login.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 670px
  padding-top: 1px
.content-mainIns
 margin-top: 100px
.btn-full
  width: 100%
.img-user
  margin-top: -40px

.form-login .input-field label
  color: #fff
/* label focus color */
.form-login .input-field input[type=text]:focus + label
  color: #fff;
.form-login .input-field input[type=password]:focus + label
  color: #fff;

   /* label underline focus color */
.form-login  .input-field input[type=text]:focus
  border-bottom: 1px solid #fff
  box-shadow: 0 1px 0 0 #fff

.form-login  .input-field input[type=password]:focus
  border-bottom: 1px solid #fff
  box-shadow: 0 1px 0 0 #fff

   /* valid color */
.form-login .input-field input[type=text].valid
  border-bottom: 1px solid green
  box-shadow: 0 1px 0 0 green

   /* invalid color */
.form-login .input-field input[type=text].invalid
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff

   /* icon prefix focus color */
.form-login  .input-field .prefix.active
  color: #fff;


// dashboard instructor
.img-font
  border-radius: 20px

.text-main
  text-align: center
  font-size: 16px
  text-transform: uppercase
  color: white
  padding: 10px
.work-pen
  border: 2px solid white
  padding: 10px

.work-pen .input-field input[type=text]:focus + label, .input-field label
  color: #fff;

.menu-teacher
  height: 1350px
  position: relative
  margin-top: 0
  margin-bottom: -20px
.carousel-general
  height: 285px !important

.slider-noticias .slides
  height: 300px !important
.slider-noticias
  height: 350px !important


// Carousel general
.bac1
  background-image: url(../image/logo_campana.png)
  background-repeat: no-repeat
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center
.bac2
  background-image: url(../image/campania.jpg)
  background-position: top
  background-repeat: no-repeat
