.login-instructor
  background: url(../image/login.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 670px
  padding-top: 1px
.content-mainIns
 margin-top: 100px
.btn-full
  width: 100%
.img-user
  margin-top: -40px

// dashboard instructor
.img-font
  border-radius: 20px

.text-main
  text-align: center
  font-size: 16px
  text-transform: uppercase
  color: white
  padding: 10px
.work-pen
  padding: 10px
  border-radius: 10px

.work-pen .input-field input[type=text]:focus + label, .input-field label
  color: green;

.menu-teacher
  height: 1350px
  position: relative
  margin-top: 0
  margin-bottom: -20px
.carousel-general
  height: 285px !important

.slider-noticias .slides
  height: 300px !important
.slider-noticias
  height: 350px !important

// Carousel general
.bac1
  background-image: url(../image/logo_campana.png)
  background-repeat: no-repeat
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center
.bac2
  background-image: url(../image/campania.jpg)
  background-position: top
  background-repeat: no-repeat

// sumas
.text-instruciones
  text-transform: uppercase
  
